web/WEB-INF/wsit-services.OrderItemService.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="OrderItemService" targetNamespace="http://services/" xmlns:tns="http://services/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsrm="http://docs.oasis-open.org/ws-rx/wsrmp/200702" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
 >
    <message name="updateStatus"/>
    <message name="updateStatusResponse"/>
    <message name="updateOrderItem"/>
    <message name="updateOrderItemResponse"/>
    <message name="newOrderItem"/>
    <message name="newOrderItemResponse"/>
    <portType name="OrderItemService">
        <operation name="updateStatus">
            <input message="tns:updateStatus"/>
            <output message="tns:updateStatusResponse"/>
        </operation>
        <operation name="updateOrderItem">
            <input message="tns:updateOrderItem"/>
            <output message="tns:updateOrderItemResponse"/>
        </operation>
        <operation name="newOrderItem">
            <input message="tns:newOrderItem"/>
            <output message="tns:newOrderItemResponse"/>
        </operation>
    </portType>
    <binding name="OrderItemServicePortBinding" type="tns:OrderItemService">
        <operation name="updateStatus">
            <input></input>
            <output></output>
        </operation>
        <operation name="updateOrderItem">
            <input></input>
            <output></output>
        </operation>
        <operation name="newOrderItem">
            <input></input>
            <output></output>
        </operation>
    </binding>
    <service name="OrderItemService">
        <port name="OrderItemServicePort" binding="tns:OrderItemServicePortBinding"/>
    </service>
</definitions>
